
.nav-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #2c3840;
    height: 75px;
    margin-bottom: 10px;
}

.nav-bar .nav-bar-logo {
    padding: 1.8rem;
}

.nav-bar li {
    background: #2c3840;
}

.nav-bar a {
    color: #fefefe;
    transition: color 0.2s ease-in;
}

.nav-bar a:hover {
    color: #a8b8c3;
}

@media screen and (max-width: 39.9375em) {
    .nav-bar {
        height: 53.57143px;
    }
}

.nav-bar .offcanvas-trigger {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.6rem;
    color: #fefefe;
    text-transform: uppercase;
    background-color: #566d7c;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
}

.nav-bar .offcanvas-trigger .offcanvas-trigger-text {
    margin-right: 0.25rem;
    margin-top: 0.25rem;
}

.nav-bar .offcanvas-trigger:hover {
    background-color: #6b879a;
}

@media screen and (max-width: 39.9375em) {
    .nav-bar .offcanvas-trigger {
        padding: 0.9rem;
    }
}

.multilevel-offcanvas {
    background: #222b31;
    padding: 20px;
    color: #fefefe;
}

.multilevel-offcanvas > .menu {
    margin-bottom: 1rem;
}

.multilevel-offcanvas .menu a {
    color: rgba(254, 254, 254, 0.6);
    padding-top: 7px;
    padding-bottom: 7px;
    transition: color 0.2s ease-in;
}

.multilevel-offcanvas .menu a:hover {
    color: #fefefe;
}

.multilevel-offcanvas .fa {
    color: #fefefe;
}

.multilevel-offcanvas .is-accordion-submenu-parent > a::after {
    border-color: rgba(254, 254, 254, 0.6) transparent transparent;
}

.multilevel-offcanvas .social-links {
    margin-left: 20px;
}

.multilevel-offcanvas .social-links li {
    margin-right: 5px;
}

.multilevel-offcanvas .social-links a:hover .fa {
    color: #bebebe;
    transition: color .2s ease-in;
}

.multilevel-offcanvas .social-links .fa {
    font-size: 2.2rem;
}

.body-info {
    text-align: center;
    color: #2c3840;
}

.body-info .button {
    margin: 1rem 0;
    padding: 0.85em 2em;
}

.is-open + .off-canvas-content .hamburger .line:nth-child(1),
.is-open + .off-canvas-content .hamburger .line:nth-child(3) {
    width: 12px;
}

.is-open + .off-canvas-content .hamburger .line:nth-child(1) {
    -webkit-transform: translateX(-5px) rotate(-45deg);
    -ms-transform: translateX(-5px) rotate(-45deg);
    transform: translateX(-5px) rotate(-45deg);
}

.is-open + .off-canvas-content .hamburger .line:nth-child(3) {
    -webkit-transform: translateX(-5px) rotate(45deg);
    -ms-transform: translateX(-5px) rotate(45deg);
    transform: translateX(-5px) rotate(45deg);
}

.hamburger .line {
    width: 20px;
    height: 2px;
    background-color: #fefefe;
    display: block;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger .line:last-child {
    margin-bottom: 0;
}


.article-row-section {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.article-row-section-inner {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    max-width: 100%;
}

@media print, screen and (min-width: 40em) {
    .article-row-section-inner {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }
}

@media print, screen and (min-width: 40em) {
    .article-row-section-inner {
        -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
        padding-right: 0.625rem;
        padding-left: 0.625rem;
        max-width: 83.33333%;
    }
}

@media print, screen and (min-width: 40em) and (min-width: 40em) {
    .article-row-section-inner {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }
}

.article-row-section-header {
    padding: 1.5rem 0;
    margin: 0;
    line-height: 1;
}

.article-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top: 1px solid #e6e6e6;
    padding: 1.5rem 0;
}

@media print, screen and (min-width: 40em) {
    .article-row {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.article-row-img img {
    width: 100%;
}

@media print, screen and (min-width: 40em) {
    .article-row-img img {
        max-width: none;
        width: auto;
    }
}

.article-row-content {
    padding: 1.5rem 0 0;
    color: #0a0a0a;
}

@media print, screen and (min-width: 40em) {
    .article-row-content {
        padding: 0 0 0 1.5rem;
    }
}

.article-row-content-header {
    font-size: 1.5rem;
}

.article-row-content-description {
    font-size: 1.25rem;
}

.article-row-content-author,
.article-row-content-time {
    font-size: 0.875rem;
    margin-bottom: 0;
    color: #8a8a8a;
}

.article-row-reversed .article-row-content {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    padding: 0 1.5rem 0 0;
}

.article-row-reversed .article-row-img {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    padding: 0 0 1.5rem 0;
}

@media print, screen and (min-width: 40em) {
    .article-row-reversed .article-row-content {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
    .article-row-reversed .article-row-img {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
}

.comment-section-container {
    background-color: #fefefe;
    padding: 1rem;
}

.comment-section-author {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

.comment-section-author .comment-section-name {
    margin-left: 1rem;
}

.comment-section-author .comment-section-name p {
    margin-bottom: 0;
}

.comment-section-box {
    background-color: #e6e6e6;
    padding: 1rem;
}


.translucent-form-overlay {
    max-width: 500px;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.8);
    padding: 20px;
    color: #fefefe;
}

.translucent-form-overlay .columns.row {
    display: block;
}

.translucent-form-overlay h3, .translucent-form-overlay label {
    color: #fefefe;
}

.translucent-form-overlay input, .translucent-form-overlay select {
    color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
    color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
    color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
    color: #8a8a8a;
}

.formBar{
    position: absolute;
    z-index: 100;
    right:0px;
    width:400px;
    /*top: -1px;*/
}
